
  <div class="tr-breadcrumb bg-image section-before">
    <div class="container">
      <div class="breadcrumb-info text-center">
        <div class="breadcrumb-logo">
          <img src="images/others/company-logo.png" alt="Logo" class="img-responsive">
        </div>
        <div class="page-title">
          <h1><%= @job.title %> @ Google inc</h1>
        </div>
        <ul class="tr-list job-meta list-inline">
          <li><i class="fa fa-money" aria-hidden="true"></i><%= number_to_currency(@job.budget) %></li>
          <li><i class="fa fa-tags" aria-hidden="true"></i><%= @job.category%></li>
          <li><i class="fa fa-hourglass-start" aria-hidden="true"></i>Open for: <%= due_date %></li>
        </ul> 
        <div class="buttons">

          <a href="#" class="btn btn-primary"><i class="fa fa-briefcase" aria-hidden="true"></i>Pitch For This Gig</a>
          
          <span class="btn button-share"><i class="fa fa-share-alt" aria-hidden="true"></i>Share <span><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></span></span>
          
          <%= link_to "Edit This Job", edit_job_path(@job), class: "btn btn-primary" %>
          
        </div>    
      </div>
    </div><!-- /.container -->
  </div><!-- /.tr-breadcrumb -->

  <div class="job-details section-padding">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-8">
          <div class="job-summary section">
            <span class="tr-title">Job Summary</span>
            <p><%= @job.description %></p>
           <!-- <span>Minimum Requirements</span>
            <ul class="tr-list">
              <li>Bachelor's Degree</li>
              <li>2-5 years of relevant experience ( or equivalent educational experience)</li>
              <li>Experience developing in Wordpress and other web design platforms</li>
              <li>HTML, CSS and JavaScript experience a plus</li>
              <li>In depth knowledge & technical experience of Photoshop, Illustrator, InDesign, Adobe PDF, Keynote, PowerPoint, Microsoft Word & Excel</li>
              <li>Exceptional eye for design, deep understanding of creativity and ability to recognize fresh approaches to Advertising </li>
              <li>Must be fluent in Spanish; working written and spoken proficiency</li>
              <li>**All applicants must be eligible to work in the U.S. without sponsorship</li>
            </ul> -->
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="tr-sidebar">
            <div class="widget-area">
              <div class="widget short-info">
                <h3 class="widget_title">Short Info</h3>
                <ul class="tr-list">
                  <li><div class="pull-left"><i class="fa fa-calendar" aria-hidden="true"></i></div> <div class="media-body"><span>Published:</span><%= time_ago_in_words(@job.created_at) %></div></li>
                  <li><div class="pull-left"><i class="fa fa-user-plus" aria-hidden="true"></i></div> <div class="media-body"><span>Job poster:</span>Lance Ladaga</div></li>
                  <li><div class="pull-left"><i class="fa fa-industry" aria-hidden="true"></i></div> <div class="media-body"><span>Industry:</span><%= @job.category %></div></li>
                  <li><div class="pull-left"><i class="fa fa-line-chart" aria-hidden="true"></i></div> <div class="media-body"><span>Experience:</span><%= @job.experience %></div></li>
                </ul>
              </div><!-- /.widger -->
              <div class="widget cmpany-info">
                <h3 class="widget_title">Cmpany Info</h3>
                <span>Google Inc</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore </p>
                <ul class="tr-list">
                  <li><span>Address:</span> London, UK</li>
                  <li><span>Compnay SIze:</span>  2k Employee</li>
                  <li><span>Industry:</span> <a href="#">Technology</a></li>
                  <li><span>Phone:</span> +1234 567 8910</li>
                  <li><span>Email:</span> <a href="#">info@dropbox.com</a></li>
                  <li><span>Website:</span> <a href="#">www.dropbox.com</a></li>
                  <li><span></span></li>
                </ul>
                <div class="widget-social">
                  <ul class="tr-list">
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                  </ul>
                </div>
              </div><!-- /.widger -->
            </div><!-- /.widget-area -->
          </div><!-- /.tr-sidebar -->
        </div>
      </div><!-- row -->

      <div class="tr-cta">
        <div class="cta-content section">
          <div class="cta-info">
            <div class="pull-left">
              <h1>Sign up to pitch on your first gig or list work you need done.</h1>
            </div>
            <%= link_to "Join Our Community", new_user_registration_path, class: "btn btn-primary pull-right" %>
            
          </div>
        </div><!-- /.cta-content -->
      </div><!-- /.tr-cta -->
      
      <div class="tr-job-posted similar-jobs">
        <span class="tr-title">Similar Jobs Post</span>
        <div class="row">

          <%= render 'jobs/jobs' %>

        </div>                          
      </div><!-- /.tr-job-posted -->    
    </div><!-- /.container -->
  </div><!-- /.tr-details --> 

  
  