  <div class="tr-account section-padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="user-account">
            <div class="account-content">
              <form action="#" class="tr-form">
                <div class="form-group">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  
                  <%= f.email_field :email, autofocus: true, label: false, placeholder: "Please enter your email", class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password, autocomplete: "off", label: false, placeholder: "Password", class: "form-control" %>
                </div>
                <div class="user-option">
                  <div class="forgot-password">
                    <a href="#">I forgot my password</a>
                  </div>
                </div>            
                
                <%= f.submit "Log in", class: "btn btn-primary" %>

                <% end %>

              </form> 
              <div class="new-user text-center">
                <span><%= link_to "Don't have an account?", new_user_registration_path %></span>
              </div>
            </div>
          </div>      
        </div>
      </div><!-- /.row -->      
    </div><!-- container -->
  </div><!-- /.tr-account-->  
