	<header class="tr-header">
		<nav class="navbar navbar-toggleable-md navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   					 <span class="navbar-toggler-icon"></span>
  				</button>
					<%= image_tag("logo.png", class: "navbar-brand") %>
				</div>
				<!-- /.navbar-header -->
				<div class="navbar-right">						
					<ul class="sign-in tr-list">
					<% if user_signed_in? %>
						<%= link_to "Account", edit_user_registration_path, class: "btn btn-outline-secondary" %>
						<%= link_to "Sign Out", destroy_user_session_path, class: "btn btn-danger" %>
					<% else %>
						<li><i class="fa fa-user"></i></li>
						<li><%= link_to "Sign In", new_user_session_path %></li>
						<li><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %></li>
					<% end %>
					</ul><!-- /.sign-in -->					
				</div><!-- /.nav-right -->
			</div><!-- /.container -->
		</nav><!-- /.navbar -->
	</header><!-- /.tr-header -->